

* { border: none; }

body {
	background:url(../images/bg/bg_site.png) repeat-x #F3F3F3; 
	/*font-size:12px;*/	
	/*font-family:'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Arial, san-serif;*/ 
	color:#000000;
	
	font-size: 62.5%;
	font-family: 'Lato', sans-serif;
	color: #797979;
	/*background: #f3f3f3 url(../images/bkg/conteudo.gif) repeat-x;*/	
}


ol, ul {
    list-style: none outside none;
}


/* HEADER */
#header2{
	height:61px;
	background:url(../images/bg/bg_header.png) 0 0 repeat-x;
}

#header2 .container {
    margin: 0 auto;
    position: relative;
    width: 1015px;
}

#header2 .container .title { 
    color: #FFFFFF;
    font-family: "Lucida Grande",sans-serif;
    font-size: 29px;
    font-weight: lighter;
    margin-top: 31px;
    position: relative;
    text-shadow: -1px -1px #000000;
    top: 16px;
}

#header2 .container .links {
	height: 35px;
    overflow: hidden;
    position: absolute;
    right: 20px;
    top: 28px; 	
}
#header2 .container .links  a {
    color: #FFFFFF;
    font-family: "Lucida Grande",sans-serif;
    font-size: 15px;
    font-weight: lighter;
    margin-right: 21px;
    padding-left: 5px;
    text-shadow: -1px -1px #000000;	
}
/* FIM HEADER */



section { margin-bottom: 20px; }

section .saiba-mais { 
    clear: both;
    color: #1E709E;
    display: block;
    font-size: 1.1em;
    margin-bottom: 15px;
}

section h2 {
	/*margin: 0 0 12px 0;
	padding-left: 10px;
	position: relative;
	font-weight: normal;
	font-size: 2.3em;*/
	
    border-bottom: 1px dotted #999999;
    color: #2A78A4;
    font-size: 17px;
    padding-bottom: 7px;
    text-shadow: 1px 1px #FFFFFF;
    margin-bottom: 10px;	
}



section p {
	margin-bottom: 18px;
	font-style: italic;
	clear: both;
}




/*
- DICAS
*/

#dicas { position: relative; }

#dicas > p { margin-bottom: 32px; }

#dicas article {
	width: 152px;
	height: 152px;
	margin-left: 9px;
	padding: 4px;
	position: relative;
	float: left;
	cursor: pointer;
	border: 1px solid #e8e8e8;
	background-color: #fdfdfd;
}

#dicas article:first-child, #dicas article.primeiro-coluna { margin-left: 0; }

#dicas article.multipla-linha { margin-top: 9px;}

#dicas article p {
	margin-bottom: 0;
	position: relative;
	z-index: 12;
	line-height: 20px;
	font-style: normal;
	font-size: 1.5em;
    line-height: 20px;
}
#dicas article p a {
	height: 104px;
	display: block;
	padding: 8px 10px;
	text-decoration: none;
	color: #797979;
}

#dicas article strong {
	width: 152px;
	height: 3px;
	bottom: 4px;
}
#dicas article:hover strong { height: 25px; }

#dicas .eixo { margin-bottom: 10px; }
#dicas .eixo .colecao {
	margin-bottom: 6px;
	width: 100%;
	float: left;
}



/*
- TAG CLOUD
*/
#tag-cloud .tags {
	width: 1010px;
	height: 152px;
	padding: 4px;
	border: 1px solid #e8e8e8;
	background-color: #fdfdfd;
}



/*
 Paginacao
*/


/*#dicas .paginacao {
	position: absolute;
	top: 52px; 
	right: 2px;
	display: block;
}*/


nav.paginacao {
    float: right;
    margin-bottom: 10px;
    margin-top: 37px;
}

nav.paginacao div {
	margin-right: 8px;
	float: left;
}

nav.paginacao a {
	margin: 0 2px;
	padding: 0 2px;
	line-height: 20px;
	font-family: arial, sans-serif;
	font-size: 1.4em;
	color: #919191;
}
nav.paginacao a.ativo { font-weight: bold; color: #6fa300; }

/*
 Direcional
*/

nav.paginacao button {
	width: 14px;
	height: 14px;
	margin-top: 2px;
	display: block;
	float: left;
	overflow: hidden;
	text-indent: -9999px;
	cursor: pointer;
	background: transparent url(../images/btn/seta_navegacao_b.png) no-repeat;
}

nav.paginacao button.anterior { background-position: 0 0; }
nav.paginacao button.proximo { background-position: -8px 0; }



/*
- SERVICOS
*/

#wrapper #posts-secundarios { min-width: 968px; display: inline-block; }

#wrapper #posts-secundarios article {
	width: 282px;
	position: relative;
	float: left;
	margin-right: 50px;
}

#wrapper #posts-secundarios article:first-child { margin-left: 0; }
#wrapper #posts-secundarios article:last-child { margin-right: 0; }

#wrapper #posts-secundarios article .colecao > div { display: none; }
#wrapper #posts-secundarios article .colecao > div:first-child { display: block; }

#wrapper #posts-secundarios article img,
#wrapper #posts-secundarios article .colecao a {
	margin-bottom: 12px;
	float: left;
	box-shadow: 1px 1px 0 #dfdfdf;
	border: 7px solid #fff;
	background-color: #fff;
}
#wrapper #posts-secundarios article h3 { 
	float: none;
	 
}
#wrapper #posts-secundarios article h3 a {  }
#wrapper #posts-secundarios article .colecao img {
	width: 243px;
	margin-bottom: 0;
	display: block;
	box-shadow: none;
	border: none;
}
#wrapper #posts-secundarios article strong {
	font-style: normal;
	color: #292929;
}


/* FOOTER */
#footer {
    background: url("../images/bg/bg_footer.png") repeat-x scroll 0 0 transparent;
    min-height: 100px;
    padding-top: 38px;
}

#footer .container {
    overflow: hidden;
    border-radius: 5px 5px 5px 5px;
    margin: 0 auto;
    position: relative;
    width: 1015px;    
}
#footer .container .links {
    float: left;
    margin-right: 100px;
    width: 230px;
}
#footer .container .links .title {
    border-bottom: 1px dotted #6F7172;
    color: #CCCCCC;
    display: block;
    float: none;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 7px;
    text-shadow: -1px -1px #171819;
    width: 230px;
}
#footer .container .links li {
    /*float: left;*/
    margin: 10px 0;
    width: 115px;
}
#footer .container .links li.title { margin: 2px 0; }

#footer .container .links li a {
    color: #CCCCCC;
    text-shadow: -1px -1px #171819;
    font-size: 1.3em;
    margin-right: 7px;
}
#footer .container .languages li {
    width: 230px;
}

#footer .container .social_share {
    position: relative;
    right: -38px;
    top: 41px;
}
#footer .container .social_share li {
    float: left;
    height: 37px;
    margin-right: 10px;
    width: 111px;
}
#footer .container .social_share li iframe {
    margin-left: 9px;
    margin-top: 8px;
}
#footer .container .social_share .fb {
    background: url("../images/bg/bg_fb_like_footer.png") no-repeat scroll 0 0 transparent;
}
#footer .container .social_share .tw {
    background: url("../images/bg/bg_tweet_footer.png") no-repeat scroll 0 0 transparent;
}


#footer #box-twitter {
	float: right;
	width: 350px;
}

#footer #box-twitter .feed {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #ffffff; 
	background: -moz-linear-gradient(top,#ffffff 1%, #f3f3f3 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#f3f3f3)); 
	background: -webkit-linear-gradient(top,#ffffff 1%,#f3f3f3 100%); 
	background: -o-linear-gradient(top,#ffffff 1%,#f3f3f3 100%); 
	background: -ms-linear-gradient(top,#ffffff 1%,#f3f3f3 100%); 
	background: linear-gradient(top,#ffffff 1%,#f3f3f3 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 ); 
	border: 1px solid #ccc !important;
	margin-left: 52px;
}

#footer #box-twitter .feed a {
    float: left !important;
    margin-left: -52px !important;
    margin-top: 5px;
}

#footer #box-twitter .feed p {
    color: #848484;
    font-family: arial;
    font-size: 13px;
    padding: 10px;
}
/* FIM - FOOTER */


